$primary: #5265e1;
$secondary: #fa5959;

$nav-link-color: gray;
$nav-link-hover-color: $secondary;
$nav-tabs-link-active-color: $secondary;
$nav-tabs-border-color: $secondary;
$nav-tabs-link-active-border-color: $secondary;
$nav-tabs-border-width: 3px;

// Style anchor elements.
$link-color: $primary !default;
$link-decoration: underline !default;
$link-shade-percentage: 20% !default;
$link-hover-color: $secondary;
$link-hover-decoration: null !default;

$accordion-button-active-bg: none;
$accordion-button-active-color: $secondary;
$accordion-icon-active-color:  $secondary;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

@import "../node_modules/bootstrap/scss/bootstrap";

.main-menu {
  height: 6.25rem;
}

.features {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

#tab-content {
  //   border-bottom: 2px solid red;

  @include media-breakpoint-down(sm) {
    & > ul {
      display: block;
      text-align: center;
    }
  }
  @include media-breakpoint-up(md) {
    & > ul {
      display: flex;
      text-align: center;
    }
  }
}

.nav-tabs {
  border: none;
  .active {
    border: none;
  }
}

#card2 {
  @include media-breakpoint-up(md) {
    position: relative;
    top: 3rem;
  }
}

#card3 {
  @include media-breakpoint-up(md) {
    position: relative;
    top: 6rem;
  }
}

#faqs {
  @include media-breakpoint-up(md) {
    margin-top: 12.5rem;
  }
}

#faqs-accordion {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

footer {
  margin: 5rem 0 0 0;
  color: $white;
}

#contact {
  padding-top: 2em;
  padding-bottom: 2em;
}
#contact-content {
  @include media-breakpoint-up(md) {
    margin: auto;
    width: 35%;
  }
}

#contact-form {
  @include media-breakpoint-down(sm) {
    & > button {
      // display: block;
      margin: 0;
      width: 100%;
    }

    #input-email {
      margin-bottom: 1em;
      display: grid;
    }
  }
}

#foot {
  background-color: $blue-800;
  $nav-link-color: red;
  @include media-breakpoint-down(sm) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.social-icons {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin: 10px;
  }

  a {
    color: white;
  }

  a:hover {
    color: $secondary;
  }
}

// Mobil
@media screen and (max-width: 576px) {
  .claim {
    text-align: center;
  }
}

// Only Tablet
@media screen and (min-width: 576px) and (max-width: 992px) {
}

// Tablet & Desktop
@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row-reverse;
  }
}

// Only Desktop
@media screen and (min-width: 992px) {
  .claim {
    width: 75%;
  }
}
