$primary: #5265e1;
$secondary: #fa5959;

@import "../node_modules/bootstrap/scss/bootstrap";

.main-menu {
  height: 6.25rem;
}

.features {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

#tab-content {
  //   border-bottom: 2px solid red;

  @include media-breakpoint-down(sm) {
    & > ul {
      display: block;
      text-align: center;
    }
  }
  @include media-breakpoint-up(md) {
    & > ul {
      display: flex;
      text-align: center;
    }
  }
}

.nav-tabs {
  border: none;
  .active {
    border: none;
  }
}

#card2 {
  @include media-breakpoint-up(md) {
    position: relative;
    top: 3rem;
  }
}

#card3 {
  @include media-breakpoint-up(md) {
    position: relative;
    top: 6rem;
  }
}

// Mobil
@media screen and (max-width: 576px) {
  .claim {
    text-align: center;
  }
}

// Only Tablet
@media screen and (min-width: 576px) and (max-width: 992px) {
}

// Tablet & Desktop
@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row-reverse;
  }
}

// Only Desktop
@media screen and (min-width: 992px) {
  .claim {
    width: 75%;
  }
}
