$primary: #5265e1;
$secondary: #fa5959;

$nav-link-color: black;
$nav-link-hover-color: $secondary;
$nav-tabs-link-active-color: $secondary;
$nav-tabs-border-color: $secondary;
$nav-tabs-link-active-border-color: $secondary;
$nav-tabs-border-color: $secondary;

$navbar-light-hover-color: $secondary;
$navbar-dark-hover-color: $secondary;

$accordion-button-active-bg: none;
$accordion-button-active-color: $secondary;
$accordion-icon-active-color: $secondary;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

@import "../node_modules/bootstrap/scss/bootstrap";

.main-menu {
  height: 6.25rem;
  display: flex;
  align-items: flex-start;
}

.claim {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    width: 75%;
  }
}

.hero {
  @include media-breakpoint-up(md) {
    flex-direction: row-reverse;
  }
}

.features {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

#tab-content {
  @include media-breakpoint-down(sm) {
    & > ul {
      display: block;
      text-align: center;
    }
  }
  @include media-breakpoint-up(md) {
    & > ul {
      display: flex;
      text-align: center;
    }
  }
}

.nav-tabs {
  border: none;
  .active {
    border: none;
  }
}

.card:nth-child(2) {
  @include media-breakpoint-up(md) {
    position: relative;
    top: 3rem;
  }
}

.card:nth-child(3) {
  @include media-breakpoint-up(md) {
    position: relative;
    top: 6rem;
  }
}

#faqs {
  @include media-breakpoint-up(md) {
    margin-top: 12.5rem;
  }
}

#faqs-accordion {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

footer {
  margin: 5rem 0 0 0;
  color: $white;
}

#contact {
  padding-top: 2em;
  padding-bottom: 2em;
}
#contact-content {
  @include media-breakpoint-up(md) {
    margin: auto;
    width: 35%;
  }
}

#contact-form {
  @include media-breakpoint-down(sm) {
    & > button {
      margin: 0;
      width: 100%;
    }

    #input-email {
      margin-bottom: 1em;
      display: grid;
    }
  }
}

#foot {
  background-color: $blue-800;
  $nav-link-color: red;
  @include media-breakpoint-down(sm) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.social-icons {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin: 10px;
  }

  a {
    color: white;
  }

  a:hover {
    color: $secondary;
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: $primary;
  background-color: white;
  border-color: $primary;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.login {
  color: $secondary;
  background-color: white;
  border-color: $econdary;
}
